/*.legeng {*/
/*height: 35px;*/
/*margin-top: 10px;*/
/*margin-left: 10px;*/
/*}*/
/*.legeng li {*/
/*float: left;*/
/*margin-right: 20px;*/
/*list-style-type: none;*/
/*}*/
/*.legeng li .icon {*/
/*float: left;*/
/*border: 2px solid;*/
/*width: 14px;*/
/*height: 14px;*/
/*}*/
/*.legeng li .text {*/
/*float: left;*/
/*margin-left: 7px;*/
/*color: #ffffff;*/
/*font-size: 14px;*/
/*}*/
/*.legeng li .icon.blue {*/
/*background: rgba(9, 212, 255, 0.6);*/
/*border-color: #09d4ff;*/
/*}*/
/*.legeng li .icon.green {*/
/*background: rgba(124, 241, 2, 0.6);*/
/*border-color: #7cf102;*/
/*}*/
/*.legeng li .icon.yellow {*/
/*background: rgba(255, 210, 0, 0.6);*/
/*border-color: #ffd200;*/
/*}*/
/*.legeng li .icon.pink {*/
/*background: rgba(255, 120, 122, 0.6);*/
/*border-color: #ff787a;*/
/*}*/
/*.legeng li .icon.purple {*/
/*background: rgba(180, 66, 255, 0.6);*/
/*border-color: #b442ff;*/
/*}*/
.content-border .span1 {
  position: absolute;
  padding: 5px;
  border-style: solid;
  border-color:  #005bbd;
  z-index: 999;
}
.content-border .span2 {
  position: absolute;
  padding: 10px;
  border-style: solid;
  border-color: #073e84;
}
.content-border .row1 {
  border-width: 2px 0 0 2px;
  top: 0px;
  left: 0px;
}
.content-border .row2 {
  border-width: 2px 2px 0 0;
  top: 0px;
  right: 0px;
}
.content-border .col1 {
  border-width: 0 0 2px 2px;
  bottom: 0px;
  left: 0px;
}
.content-border .col2 {
  border-width: 0 2px 2px 0;
  bottom: 0px;
  right: 0px;
}
.content-border .row3 {
  border-width: 2px 0 0 2px;
  top: 0px;
  left: 0px;
}
.content-border .row4 {
  border-width: 2px 2px 0 0;
  top: 0px;
  right: 0px;
}
.content-border .col3 {
  border-width: 0 0 2px 2px;
  bottom: 0px;
  left: 0px;
}
.content-border .col4 {
  border-width: 0 2px 2px 0;
  bottom: 0px;
  right: 0px;
}
/*.content-border .tetle {*/
/*position: absolute;*/
/*background-color: #0d0b20;*/
/*font-size: 18px;*/
/*font-weight: bold;*/
/*color: #fff;*/
/*top: -13px;*/
/*width: 146px;*/
/*left: 50%;*/
/*margin-left: -73px;*/
/*text-align: center;*/
/*}*/
/*.background_img {*/
/*width: 12px;*/
/*height: 12px;*/
/*background: url("../../img/jing2.png") no-repeat;*/
/*position: absolute;*/
/*left: -14px;*/
/*top: 2px;*/
/*}*/
